.redBg {
    background-color: rgba(250,0,0,0.2) !important;
    z-index: 1000;
}

.redBlock {
    background-color: white;
    border: 0.2em solid green;
    height: 50em;
    width: 40em;
    position: fixed;
    margin-left: 0.5em;
}

.index100 {
    z-index: 100;
}

.saveButton {
    color: green;
}

.descArea {
    font-size: 18px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
}
