.redBg {
    background-color: rgba(250,0,0,0.2) !important;
}

.Card .buttonArea {
	position: absolute;
	right: 8px;
	top: 46px;
	z-index: 1
}

.buttonArea {
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 6px;
	color: rgba(0, 0, 0, .84);
	letter-spacing: .5px;
	background-color: #fff;
	border-radius: 8px;
	cursor: pointer;
	white-space: nowrap;
	transition: all .25s ease-out;
	box-shadow: 0 0 4px rgba(0, 0, 0, .05), 0 4px 8px rgba(0, 0, 0, .1)
}

.advFlawBlock {
    background-color: white;
    border: 0.2em solid green;
    height: 20em;
    width: 90%;
    position: fixed;
    margin-left: 0.5em;
    bottom: 3%;
}

.faBlock {
  width: 45%;
  float: left;
  height: 90%;
}

.marginRight05em {
  margin-right: 0.5em;
}

.index100 {
    z-index: 100;
}
.descArea {
    font-size: 18px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    margin: 0.5em;
    padding: 0.5em;
}

.orangeTextBg {
    background-color: #FF7F50;
}

.greenTextBg {
    background-color: lightgreen;
}

.counterBlock {
  float: left;
  background-color: white;
  padding: 0.3em;
}
